.tableDiv {
  background: hsl(210deg 1.92% 20.39%);
  overflow-x: auto;
  padding: 10px;
  border-radius: 15px;
}
.tableSC {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.tableSC th,
.tableSC td {
  text-align: left;
  padding: 8px;
  border: 1px solid rgb(84, 84, 84);
}
.tableSC th {
  color: #dedede;
}
.tableSC td {
  color: #b8b5b5;
}
.tableSC tr:first-child th {
  border-top: 0;
}
.tableSC tr td:first-child,
.tableSC tr th:first-child {
  border-left: 0;
}
.tableSC tr:last-child td {
  border-bottom: 0;
}
.tableSC tr td:last-child,
.tableSC tr th:last-child {
  border-right: 0;
}
/* .tableSC tr:nth-child(even) {
  background-color: #f2f2f2;
} */
