/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /*COLORS*/

  --gold-crayola: hsl(38, 61%, 73%);
  --quick-silver: hsla(0, 0%, 65%, 1);
  --davys-grey: hsla(30, 3%, 34%, 1);
  --smoky-black-1: hsla(40, 12%, 5%, 1);
  --smoky-black-2: hsla(30, 8%, 5%, 1);
  --smoky-black-3: hsla(0, 3%, 7%, 1);
  --eerie-black-1: hsla(210, 4%, 9%, 1);
  --eerie-black-2: hsla(210, 4%, 11%, 1);
  --eerie-black-3: hsla(180, 2%, 8%, 1);
  --eerie-black-4: hsla(0, 0%, 13%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --white-alpha-10: hsla(0, 0%, 100%, 0.1);
  --black: hsla(0, 0%, 0%, 1);
  --black-alpha-80: hsla(0, 0%, 0%, 0.8);
  --black-alpha-15: hsla(0, 0%, 0%, 0.15);

  /*GADIENT COLOR*/

  --loading-text-gradient: linear-gradient(
    90deg,
    transparent 0% 16.66%,
    var(--smoky-black-3) 33.33% 50%,
    transparent 66.66% 75%
  );
  --gradient-1: linear-gradient(
    to top,
    hsla(0, 0%, 0%, 0.9),
    hsla(0, 0%, 0%, 0.7),
    transparent
  );

  /* font-family */
  --fontFamily-forum: "Forum", cursive;
  --fontFamily-dm_sans: "DM Sans", sans-serif;

  /* font-size */
  --fontSize-display-1: calc(1.3rem + 6.7vw);
  --fontSize-headline-1: calc(2rem + 2.5vw);
  --fontSize-headline-2: calc(1.3rem + 2.4vw);
  --fontSize-title-1: calc(1.6rem + 1.2vw);
  --fontSize-title-2: 2.2rem;
  --fontSize-title-3: 2.1rem;
  --fontSize-title-4: calc(1.6rem + 1.2vw);
  --fontSize-body-1: 2.4rem;
  --fontSize-body-2: 1.7rem;
  --fontSize-body-3: 1.8rem;
  --fontSize-body-4: 1.6rem;
  --fontSize-label-1: 1.4rem;
  --fontSize-label-2: 1.2rem;

  /* font-weight */
  --weight-regular: 500;
  --weight-bold: 550;

  /* line-height */
  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  /* letter-spacing */
  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;

  /* SPACING*/

  --section-space: 70px;

  /*SHADOW */

  --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

  /*BORDER RADIUS*/

  --radius-24: 24px;
  --radius-circle: 50%;

  /*TRANSITION*/

  --transition-1: 400ms ease;
  --transition-2: 700ms ease;
  --transition-3: 1000ms ease;
}

/*-----------------------------------*\
  COMMON
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--eerie-black-1);
  color: var(--white);
  font-family: var(--fontFamily-dm_sans);
  font-size: var(--fontSize-body-4);
  font-weight: var(--weight-regular);
  line-height: var(--lineHeight-5);
  overflow: hidden;
  min-height: 100vh;
}

.home {
  background-image: url(./images/home.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100%;
}

body.loaded {
  overflow: overlay;
}

/*Scroll bar*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gold-crayola);
}

/*-----------------------------------*\
  REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 16px;
}

.separator {
  width: 8px;
  height: 8px;
  border: 1px solid var(--gold-crayola);
  transform: rotate(45deg);
}

.btn {
  position: relative;
  color: var(--smoky-black-1);
  background-color: var(--gold-crayola);
  font-size: var(--fontSize-label-2);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-5);
  max-width: max-content;
  border: 2px solid var(--gold-crayola);
  padding: 10px 20px;
  overflow: hidden;
  z-index: 1;
}

.hover-underline {
  position: relative;
  max-width: max-content;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-block: 1px solid var(--gold-crayola);
  transform: scaleX(0.2);
  opacity: 0;
  transition: var(--transition-2);
}

.hover-underline:is(:hover, :focus-visible)::after {
  transform: scaleX(1);
  opacity: 1;
}

.text-center {
  text-align: center;
}

.img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.section-subtitle {
  position: relative;
  color: var(--gold-crayola);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-2);
  margin-block-end: 12px;
  display: inline-block;
  margin-bottom: 30px;
}

.regandlogin {
  display: flex;
}

.bg-black-10 {
  background-color: var(--smoky-black-2);
}

/*-----------------------------------*\
  TYPOGRAPHY
\*-----------------------------------*/

.headline-1 {
  color: var(--white);
  font-family: var(--fontFamily-forum);
  font-weight: var(--weight-regular);
  line-height: var(--lineHeight-2);
}
.head-1 {
  color: var(--white);
  font-family: var(--fontFamily-forum);
  font-weight: var(--weight-bold);
  font-size: 6rem;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.display-1 {
  color: var(--white);
  font-family: var(--fontFamily-forum);
  font-weight: var(--weight-regular);
  font-size: var(--fontSize-display-1);
  line-height: var(--lineHeight-1);
  margin-bottom: 10px;
}

.label-2 {
  font-size: var(--fontSize-label-2);
}

.body-2 {
  font-size: var(--fontSize-body-2);
  line-height: var(--lineHeight-4);
}

/*-----------------------------------*\
  PRELOAD
\*-----------------------------------*/

.preload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gold-crayola);
  z-index: 10;
  display: grid;
  place-content: center;
  justify-items: center;
  transition: var(--transition-2);
}

.preload > * {
  transition: var(--transition-1);
}

.preload.loaded > * {
  opacity: 0;
}

.preload.loaded {
  transition-delay: 250ms;
  transform: translateY(100%);
}

.preload .text {
  background-image: var(--loading-text-gradient);
  background-size: 500%;
  font-size: calc(2rem + 3vw);
  font-weight: var(--weight-bold);
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 16px;
  padding-inline-start: 16px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px var(--eerie-black-3);
  animation: loadingText linear 2s infinite;
}

/*-----------------------------------*\
  Home
\*-----------------------------------*/

/**TOPBAR*/
.topbar {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 10px;
  border-block-end: 1px solid var(--white-alpha-20);
  z-index: 4;
  transition: var(--transition-1);
}

.topbar:has(~ .header.active) {
  transform: translateY(-100%);
}

.topbar .container,
.topbar-item {
  display: flex;
  align-items: center;
}

.topbar .container {
  justify-content: center;
  gap: 30px;
}

.item-2 {
  margin-right: 50rem;
}

.topbar-item {
  gap: 6px;
}

.topbar-item ion-icon {
  --ionicon-stroke-width: 60px;
}

.topbar-item .span {
  font-size: var(--fontSize-label-1);
}

.topbar .link {
  transition: var(--transition-1);
}

.topbar .link:is(:hover, :focus-visible) {
  color: var(--gold-crayola);
}

/*HEADER*/

.header {
  position: relative;
  top: 25px;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-block: 0px;
  z-index: 3;
  padding-block: 0px;
  border-block-end: 1px solid transparent;
  transition: var(--transition-1);
}

.header.active {
  top: 0;
}

.header.hide {
  transform: translateY(-100%);
  transition-delay: 250ms;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.navbar-item {
  display: inline-block;
  margin-right: 3rem;
  margin-top: 25px;
}

.navbar-list {
  margin-right: -70px;
}

.navbar-link {
  position: relative;
  font-size: 1.4rem;
  font-weight: var(--weight-bold);
  text-transform: uppercase;
}

.logo {
  margin-left: 15px;
}

.btnregister {
  margin-right: 10px;
  padding: 10px 17px;
}

/*HERO*/

.hero {
  position: relative;
  padding-block: 120px;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.hero .slider-item {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding-block-start: 100px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-3);
  z-index: 1;
}

.hero .slider-item.active {
  opacity: 1;
  visibility: visible;
}

.hero .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.hero-text {
  margin-block: 10px 40px;
}

/*FOOTER*/
.copyright {
  color: var(--quick-silver);
  line-height: var(--lineHeight-3);
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.getinline {
  display: inline-flex;
}

/* .currentYear{
    margin-right: 5px;
    margin-left: 5px;
  } */

/*-----------------------------------*\
  About us
\*-----------------------------------*/
.aboutus {
  background-image: url(./images/aboutus.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.aboutuslist {
  margin-right: 500px;
}

.section-text {
  margin-left: 60px;
}

.about .container {
  display: grid;
  gap: 120px;
}

.about-content {
  margin-left: 20px;
}

.about-banner {
  position: absolute;
  margin-left: 800px;
  margin-top: 70px;
}

.about {
  padding-block: 70px 100px;
}

.aboutustital {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin-top: -15px;
  margin-bottom: 50px;
}

.story {
  font-size: 5rem;
  margin-bottom: 10px;
}

.story .description {
  margin-right: -200px;
}

.description {
  font-size: 1.8rem;
}

.shape {
  margin-left: 1300px;
  margin-top: -200px;
}

/*our strength*/
.features .section-title {
  margin-block-end: 40px;
}

.feature-card {
  padding: 30px 20px 40px;
}

.feature-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  transition: var(--transition-2);
}

.feature-card:hover .card-icon {
  transform: scale(-1) rotate(180deg);
}

.feature-card .card-title {
  margin-block: 20px;
}

.grid-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  gap: 50px;
}

.ourStrength {
  margin-top: -100px;
}

.textStrength {
  font-size: 4rem;
}

.newshape {
  margin-left: 60px;
}

.title-2 {
  font-size: 1.7rem;
}

/*-----------------------------------*\
  Reservation Form
\*-----------------------------------*/

.table-reservation {
  background-image: url(./images/reservation.jpg);
  background-attachment: fixed;

  height: 100%;
}

.reservation {
  margin-top: 80px;
  margin-left: 250px;
}

.form {
  width: 1000px;
  height: 800px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 60px;
}

.form-text {
  margin-block-end: 40px;
}

.resTital {
  font-size: 6rem;
}

.resDetails {
  font-size: 1.7rem;
  margin-bottom: 40px;
}

.reservation .input-wrapper {
  display: flex;
  /* grid-template-columns: 2fr 1fr;
  column-gap: 20px; */
}

/* .reservation .input-wrapper:nth-child(4) {
  grid-template-columns: repeat(3, 1fr);
} */

.form-text .link {
  display: inline;
  color: var(--gold-crayola);
}

.input-field {
  color: var(--white);
  background-color: var(--white-alpha-10);
  padding: 15px 25px;
  background: hsl(30deg 2.63% 14.9%);
}

.resdropdown {
  background-color: var(--davys-grey);
}

.input-field[type="date"] {
  text-transform: uppercase;
}

textarea.input-field {
  resize: none;
  height: 140px;
  padding-block: 20px;
  line-height: var(--lineHeight-1);
}

.btnReservation {
  display: block;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  padding: 15px 150px;
}

.btnReservation:hover {
  opacity: 85%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.col {
  flex: 100%;
  padding: 12px 5px;
}
.col-3 {
  flex: 16%;
  padding: 12px 5px;
}
.col-3 {
  flex: 25%;
  padding: 12px 5px;
}
.col-4 {
  flex: 33%;
  padding: 12px 5px;
}
.col-5 {
  flex: 41%;
  padding: 12px 5px;
}
.col-6 {
  flex: 50%;
  padding: 12px 5px;
}
.col-7 {
  flex: 58%;
  padding: 12px 5px;
}
.col-8 {
  flex: 66%;
  padding: 12px 5px;
}
.col-9 {
  flex: 75%;
  padding: 12px 5px;
}
.col-10 {
  flex: 83%;
  padding: 12px 5px;
}
.col-11 {
  flex: 91%;
  padding: 12px 5px;
}
.reservation-form label {
  color: hsl(0deg 0.47% 42.16%);
}

/*-----------------------------------*\
  Registration Form
\*-----------------------------------*/

.register {
  background-image: url(images/form-pattern.png);
  min-height: 100vh;
  margin: 0;
}

.regContainer {
  background-color: var(--white-alpha-20);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 600px;
  max-width: 100%;
  border-radius: 7px;
}

.regContainer {
  margin-top: 60px;
  margin-left: 450px;
  margin-bottom: 40px;
}

.headerReg {
  border-bottom: 1px solid var(--white-alpha-20);
  background-color: var(--white-alpha-10);
  padding: 20px 40px;
  margin-top: -25px;
}

.regTital {
  font-size: 4rem;
}

.headerReg h2 {
  margin-top: 20px;
}

.Regform {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid var(--white-alpha-20);
  color: #f0f0f0;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.regSubmit {
  background-color: var(--gold-crayola);
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
  color: var(--smoky-black-1);
  text-transform: uppercase;
  display: block;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
}

.regSubmit:hover {
  opacity: 85%;
}

.form-control input:focus {
  outline: 0;
  border-color: var(--quick-silver);
}

.form-control .success input {
  border-color: #9fc9b0;
}

.form-control .error input {
  border-color: #ec8175;
}
.text-danger {
  color: #ec8175;
}

.form-control small {
  color: #ec8175;
  position: absolute;
  margin-bottom: -10px;
  bottom: 0;
  left: 0;
}

/* warning */

.warning {
  width: 40%;
  color: #dcd65e;
  display: flex;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 250px;
  padding: 8px 10px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.hidden {
  visibility: hidden;
}

/*-----------------------------------*\
  Login Form
\*-----------------------------------*/
.login {
  background-image: url(images/form-pattern.png);
  height: 100vh;
}

.toCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 85px;
}

.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-alpha-20);
  margin-top: 70px;
  width: 500px;
  border-radius: 7px;
}

.loginTital {
  font-family: var(--fontFamily-forum);
  font-weight: var(--weight-regular);
  font-size: 4.5rem;
  margin-top: 30px;
  padding-bottom: 30px;
}

.form-content {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.form-content label {
  display: inline-block;
  font-size: 1.6rem;
}

.form-content input {
  border: 2px solid var(--white-alpha-20);
  color: #f0f0f0;
  display: block;
  font-family: inherit;
  font-size: 15px;
  padding: 10px;
  width: 350px;
}

.btnLogin {
  background-color: var(--gold-crayola);
  font-weight: var(--weight-bold);
  color: var(--smoky-black-1);
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  padding: 10px 50px;
  margin-top: 8px;
  margin-bottom: 30px;
  width: 100%;
}

.btnLogin:hover {
  opacity: 85%;
}

.notMemeber {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.notmemberLink {
  text-decoration: underline;
  color: var(--gold-crayola);
}

.loginError {
  color: #ec8175;
}

/*-----------------------------------*\
  MENU
\*-----------------------------------*/

.menu {
  background-image: url(images/menueBg1.png);
}

.menu-item {
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  height: 200px;
  align-items: center;
  border: solid 1px hsl(38deg 1.31% 33.89%);
  max-width: 700px;
  border-radius: 20px;
  margin: auto;
  background: var(--white-alpha-10);
  margin-bottom: 30px;
}

.menu-img img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: start;
}

.menu-context {
  max-width: 500px;
  text-align: left;
  padding-left: 20px;
  width: 100%;
}

.menu-title {
  text-align: left;
  font-family: var(--fontFamily-forum);
  font-weight: var(--weight-regular);
  font-size: 3rem;
  padding-left: 0;
}

.menu-price {
  text-align: right;
  color: hsl(38, 61%, 73%);
  justify-content: end;
  align-items: center;
  display: flex;
  font-family: "Forum", cursive;
  font-size: 22px;
  letter-spacing: 1.5px;
}

.menu-description {
  padding-left: 4px;
  color: hsla(0, 0%, 65%, 1);
  font-size: 15px;
}
